<br>
<br>

<p id="notice"><%= notice %></p>

<h3>VCR Community</h3>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Date of birth</th>
      <th>Location</th>
      <th>Gender</th>
      <th>User</th>
      <th>About me</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= profile.name %></td>
        <td><%= profile.date_of_birth %></td>
        <td><%= profile.location %></td>
        <td><%= profile.gender %></td>
        <td><%= profile.user.email %></td>
        <td><%= profile.about_me %></td>
        <td><%= link_to 'View Profile', profile %></td>
        <!-- <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
       <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>  -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profile', new_profile_path %>
